URxvt.depth: 32
URxvt.scrollBar: off
URxvt.borderWidth: 0
URxvt.internalBorder: 0
URxvt.externalBorder: 0
URxvt.hideButtons: true
URxvt.linespace: 0
URxvt.geometry: 90x30

! input method
URxvt.inputMethod: ibus
! fonts
URxvt*font: xft:Terminus:pixelsize=10
!URxvt.font:-*-Terminus-medium-*-*-*-12-*-*-*-*-*-*-r
Xft*antialias: true
Xft*dpi: 96

URxvt.loginShell: true
URxvt.saveLines: 8800
URxvt.urgentOnBell: true

URxvt.keysym.F11: perl:fullscreen:switch
URxvt.keysym.Home: \033[1~
URxvt.keysym.End: \033[4~

URxvt.perl-ext-common: default,matcher
!URxvt.urlLauncher: surf
URxvt.matcher.button: 1
URxvt.matcher.launcher: url-urxvt.sh

! cursor
URxvt.cursorColor: #ffff00
URxvt.pointerColor: #ffffff

URxvt.transparent: true
URxvt.transparentTabbar: true

! term color
URxvt.foreground: #ffffff

