URxvt.depth: 24
URxvt.scrollBar: off
URxvt.borderWidth: 0
URxvt.internalBorder: 0
URxvt.externalBorder: 0
URxvt.hideButtons: true
URxvt.linespace: 0
!URxvt.geometry: 90x30

! input method
URxvt.inputMethod: ibus
URxvt.preeditType: OnTheSpot,None
! fonts
!URxvt.font: xft:Terminus:size=8
!URxvt*font:-*-*-medium-r-*-*-14-*-*-*-*-*-*-*
URxvt*font:-*-Terminus-medium-r-*-*-14-*-*-*-*-*-*-*
!URxvt.font: 8x13
!Xft*antialias: true
!Xft*dpi: 96

URxvt.loginShell: true
URxvt.urgentOnBell: true

URxvt.keysym.F11: perl:fullscreen:switch
URxvt.keysym.Home: \033[1~
URxvt.keysym.End: \033[4~

!Urxvt.perl-ext-common: default,clipboard,url-select,tabbedex,matcher,keyboard-select,font-size
Urxvt.perl-ext-common: default,clipboad
!Urxvt.keysym.M-u: perl:url-select:select_next
!Urxvt.keysym.M-Escape: perl:keyboard-select:activate
!Urxvt.keysym.M-s: perl:keyboard-select:search
!Urxvt.url-select.launcher: /usr/bin/xdg-open
!Urxvt.url-select.underline: true
!Urxvt.matcher.button: 1
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.iso1475: False

! cursor
URxvt.cursorColor: #ffff00
URxvt.pointerColor: #ffffff

URxvt*transparent: true
URxvt.transparentTabbar: true

! term color
URxvt.foreground: #ffffff
URxvt.background: #000000

urxvt.saveLines: 10000
urxvt*scrollTtyKeypress:    true
urxvt*scrollTtyOutput:      false
urxvt*scrollWithBuffer:     false
urxvt.scrollstyle:      plain
urxvt.secondaryScroll:  true
! font xft
!urxvt*font: xft:Dejavu Sans Mono:pixelsize=11:antialias=true:hinting=true
!urxvt*boldFont: xft:DejaVu Sans Mono:pixelsize=11:antialias=true:bold:hinting=true
!urxvt*italicFont: xft:DejaVu Sans Mono:pixelsize=11:antialias=true:italic:autohint=true:hinting=true
!urxvt*bolditalicFont: xft:DejaVu Sans Mono:pixelsize=11:antialias=true:bold:italic:autohint=true:hinting=true

Urxvt*title: Terminal
Urxvt.termName: urxvt-256color
